/*body {
    background-image: url('/images/game_crush.jpg');
    background-size: cover; 
    background-position: center;
}*/
:root {
    --fuente-principal: 'Bungee', sans-serif;
    --fuente-secundaria: 'Orbitron', sans-serif;
    --fuente-auxiliar: 'Lato', sans-serif;
}
body{
    font-family: var(--fuente-secundaria);
}

h1, h2, h3 {
    font-family: var(--fuente-principal);
}
table{
    font-family: var(--fuente-auxiliar);
}

@media (max-width: 991px) {
    /* Alinear a la derecha todos los elementos en pantallas pequeñas*/
    #navbarNav .navbar-nav.ms-auto {
        justify-content: flex-end;
        width: 100%;
    }
    #navbarNav .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    #navbarNav .navbar-nav .nav-item {
        text-align: right;
    }
    #navbarNav .navbar-nav li:last-child {
        border-right: 2px solid #dee2e6; 
    }
}
